.stack-container {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 600px;
}

.card-rotate {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.card-rotate-disabled {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.pictures-container {
  width: 450px;
  height: 450px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section-three-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 550px;
  flex-grow: 1;
}

.section-three-text h1 {
  margin: 0;
  font-size: clamp(2.5rem, 5vw, 4rem);
}

.section-three-text p {
  margin-top: 1rem;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  line-height: 1.4;
}

.section-three {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
